.vscode/settings.json
*.a
src/object_files/
*.o
src/run_tests

.DS_Store

src/s21_sprintf_dir/*.out
src/s21_sprintf_dir/s21_sprintf
src/s21_sprintf_dir/test.c

// Файл с настройками формата
CPPLINT.cfg

clang_all.sh