.vscode/settings.json
*.a
src/object_files/
*.o
src/run_tests

.DS_Store

// Папка для разработки s21_sprintf
src/s21_sscanf_dir/
src/s21_sscanf_dir/test.c
src/s21_sscanf_dir/a.out

// Файл с настройками формата
CPPLINT.cfg

clang_all.sh