.vscode/settings.json
*.a
src/object_files/
*.o
src/run_tests
clang.sh

.DS_Store

src/s21_sprintf_dir/
src/s21_sscanf_dir/

CPPLINT.cfg

clang_all.sh
misc/eng/images/GOTO.png
src/tests/test/a.out
src/tests/test/main.c
src/logfile.txt
materials/build/run
